
APP_NAME="FastAPI Application"
APP_ENV=development # development, staging, production
DEBUG=true
API_V1_STR=/api/v1

SERVER_HOST=0.0.0.0
SERVER_PORT=8000

SECRET_KEY=1
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

BACKEND_CORS_ORIGINS=["http://localhost","http://localhost:3000","http://localhost:8080","http://localhost:5173"]

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123123
DB_NAME=db1

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

SMTP_TLS=true
SMTP_PORT=587
SMTP_HOST=smtp.gmail.com
SMTP_USER=user@example.com
SMTP_PASSWORD=your_smtp_password
EMAILS_FROM_EMAIL=noreply@example.com
EMAILS_FROM_NAME="FastAPI Admin"

LOG_LEVEL=INFO # DEBUG, INFO, WARNING, ERROR, CRITICAL