# pip install -r requirements.txt

loguru
python-dotenv
fastapi

pydantic-settings
email-validator
uvicorn
gunicorn
python-multipart

pwdlib[argon2,bcrypt]
pyjwt

sqlalchemy
alembic
mysqlclient
asyncmy

sqladmin[full]
itsdangerous # SessionMiddleware 需要
wtforms>=3.1,<3.2
