# pip install -r requirements.txt

loguru
orjson
python-dotenv
fastapi
pydantic-settings
uvicorn
gunicorn          # 生产环境 WSGI 服务器
python-multipart  # 表单和文件支持

pwdlib[argon2,bcrypt]
pyjwt

sqlalchemy
alembic
mysqlclient
aiomysql

faker
